<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8"/>
    <link rel=" stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel=" stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel=" stylesheet" href="Css/styles.css">
    <title>ECO_Africa</title>

</head>

<body>

<header id="header" role="banner">
    <div id="topbar">
        <div class="container">
            <div class="row">
                <div class="col-sm-10">
                    <ul class="list-inline" id="social-icons">
                        <li>
                            <a href="" target="_blank"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="" target="_blank"><i class="fa fa-instagram"></i></a>
                        </li>

                        <li>
                            <a href="" target="_blank"><i class="fa fa-twitter-square"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-1">
                    <div class="joinlinks">
                        <a href=""><p>Join Us </p></a>
                    </div>
                </div>

                <div class="col-sm-1">
                    <div class="joinlinks">
                        <a href=""><p>Log In </p></a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="navbar navbar-default ">
        <div class="container">
            <div class="row">
                <div class="Logo">
                    <a class="navbar-brand" href="index.html"><img src="images/IFA-Logo.png" alt="Logo"
                                                                   style="width: 32%;"></a>
                </div>
            </div>


            <ul id="menu-main-menu" class="nav navbar-nav navbar-right">
                <ul class="nav navbar-nav navbar-right backcolor">
                    <div class="Nav-Bar">
                        <li><a href="About%20Us.html" style=""> About</a></li>
                        <li><a href="ECO-Africa.html" style=""> Eco-Africa</a></li>
                        <li><a href="" style=""> Innovation Meter</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">Opportunities <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Volunteering</a></li>
                                <li><a href="#">Internship</a></li>
                                <li><a href="#">Apprentiship</a></li>
                                <li><a href="#">Jobs</a></li>
                            </ul>
                        </li>
                        <li><a href="Contact-Us.phtml" style=""> Contact Us</a></li>
                    </div>
                </ul>
            </ul>
        </div>
    </div>

</header>

<div class="About-Us">
    <div class="container">
        <div class="row">
            <h6> - Our Mission -</h6>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac rutrum lacus. Duis finibus velit ut
                augue interdum tempus. Donec dignissim bibendum turpis ut cursus.</p>
        </div>
        <div id="Center_Logo">
            <img src="images/ECO-Africa-Logo.png" alt="Logo">
        </div>

        <div class="row centre_text">

            <h6> What Is ECO_? </h6>

            <p> ECO AFRICA our first project is a student lead socity in Universities that recognize that Africa, like
                many other parts of the world, suffer from social, economic and enviromental issues. The enviroment
                suffers disproportionate explotation and pollution, communities lack education basic amenities, social
                cohesion as well as other things adn organizations working from and within Africa are corrupted and non
                transparent.

                <br><br>ECO_AFRICA seeks to restore a balance, encourage transparency and create a better future for
                Africans. Connecting students locally to students internationally to change the world through
                collaboration.</p>
        </div>
    </div>
</div>


<footer>

    <nav class="navbar navbar-default">
        <div class="container">
            <div class="row">
                <div class="Logo">
                    <a href="index.html"><img src="images/IFA-Logo.png" alt="Logo" style="width: 32%;"></a>
                </div>
            </div>


            <ul id="menu-main-menu" class="nav navbar-nav navbar-right">
                <div class="Bot-Nav-Bar">
                    <li><a href="" style=""> Events</a></li>
                    <li><a href="" style=""> FAQs</a></li>
                    <li><a href="" style=""> Sitemap</a></li>
                </div>
            </ul>
        </div>


    </nav>

    <hr>
    <div class="container">
        <div class="btsp">
            <div class="row">
                <div class="col-sm-4">

                    <h4>© Copyright Lorum Ipsum</h4>
                </div>
                <div class="col-sm-8">
                    <h5>IFA Lorum Ipsum Lorum Ipsum Lorum Ipsum Lorum Ipsum Lorum Ipsum Lorum Ipsum</h5>
                </div>
            </div>
        </div>
    </div>
</footer>


</body>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
        integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
        integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>

</html>
